<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>974422701776-7l4pbppdcp97u2gabquad4gdla9csltg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.974422701776-7l4pbppdcp97u2gabquad4gdla9csltg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>974422701776-91t43dgch1iht838lo9m4nn7p1ceduc6.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDClgpVjPHYvB3XViwM9gdY8vMNghY4eMc</string>
	<key>GCM_SENDER_ID</key>
	<string>974422701776</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.polarisChiefMate</string>
	<key>PROJECT_ID</key>
	<string>polaris-chief-mate-93c44</string>
	<key>STORAGE_BUCKET</key>
	<string>polaris-chief-mate-93c44.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:974422701776:ios:b96e38774a77aacf1b90d5</string>
	<key>DATABASE_URL</key>
	<string>https://polaris-chief-mate-93c44-default-rtdb.firebaseio.com</string>
</dict>
</plist>